<nav class="hidden-xs-down bg-faded sidebar">

    <ul class="nav nav-pills flex-column">
        <li class="nav-item" >
       <a class="nav-link active" href="#">Overview<span class="sr-only">(current)</span></a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="#">rapport</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">analitic</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="#">export</a>
        </li>
      </ul>
      <ul class="nav nav-pills flex-column">
        <li class="nav-item" >
            <a class="nav-link" href="#">nav item</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="#">nav item again</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">nav item more</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="#">nav item pouyy</a>
        </li>
      </ul>

      <ul class="nav nav-pills flex-column">
        <li class="nav-item" >
            <a class="nav-link" href="#">peieiiee</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="#">deux</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">trois</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="#">quatre</a>
        </li>
      </ul>



</nav>
